page{
	background-color:$gray-color; 
	font-family: $primary-font-family;
	font-size:12px;
}

page>view{
	box-sizing: border-box;
}
.content-section{
	background-color:white;
	border-radius: 5rpx;
}

.play-list-wrap{
	padding-top:20rpx;
	.play-list-header{
		padding:10rpx 0;
		display: flex;
		justify-content: space-between;
	}
}
.play-list-title{
	font-size:$uni-font-size-lg;
	font-weight:700;
}
.plat-list-component{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 20rpx;
	grid-column-gap: 10rpx;
	.list-item{
		width:100%;
		position: relative;
		image{
			width:100%;
			border-radius: 20rpx;
		}
		.play-count{
			position:absolute;
			top:10rpx;
			right:10rpx;
			color:white;
			font-size:10px;
			background-color:rgba(255,255,255,.1);
			padding:3rpx 12rpx;
			border-radius: 12px;
		}
		.title{
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp:2;
			-webkit-box-orient:vertical;
		}
	}
}

.iconfont{
	/* #ifdef MP-WEIXIN */
	font-size:24rpx;
	/* #endif */
	/* #ifndef MP-WEIXIN */
	font-size:12rpx;
	/* #endif */
}

.divider{
	border-color:$gray-color;
	border-width: 1rpx;
	border-style: solid;
	&.divider-horizontal{
	}
}

.text-nowrap{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.music-list{
	padding:40rpx;
	background-color: white;
	border-radius: 20rpx;
	.cover {
		width: 90rpx;
		height: 90rpx;
		background-color: #eee;
		border-radius: 20rpx;
		.iconfont {
			color: #555;
			font-size:60rpx;
			text-align: center;
			line-height:90rpx;
		}
	}
	.icons {
		.iconfont {
			margin-left: 20rpx;
			font-size: 32rpx;
		}
	}
	.music-list-header{
		display: flex;
		justify-content: space-between;
		.title,.icons{
			color:gray;
		}
	}
	.null-tips{
		color:gray;
		line-height: 80rpx;
	}
	.music-list-item{
		margin-top:20rpx;
		.cover{
			border-radius: 20rpx;
			background-color: #ccc;
		}
	}
}

